.wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 600px;
  background: white;
  box-shadow: 0 0 15px 6px rgba(34, 60, 80, 0.2);

}

.title{
  margin-top: 41px;
}

.username,.email,.password,.repeat{
  height: 40px;
  width: 320px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.button{
  width: 320px;
  height: 40px;
  background-color: #1890FF;
  border: none;
  margin-top: 21px;
  margin-bottom: 8px;
  color: white;

}

.checkboxWrapper{
  margin-left: 33px;
}

.checkbox{
  margin-left: 2px;
  margin-right: 10px;
}

.text{
  margin-bottom: 0;
  font-size: 16px;
}
